@std-padding: 0.8em;
@prime: #445566;
@link: lighten(@prime, 5%);
@link-on-prime: lighten(@prime, 35%);
@halftone: lighten(@prime, 60%);

html {
  height: 100%;
}

body {
  height: 100%;
  .FlexContainer;
}

body, html {
  padding: 0;
  margin: 0;
}

.FlexContainer {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.FlexContainerHorizontal {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.StretchedItem {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

.SolidItem {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.EditingForm {
  .FlexContainer;
  .StretchedItem;
}

.monospace {
  font-family: Menlo, Courier, monospace;
}

.code {
  background: @halftone;
  font-size: 87%;
  .monospace;
}

code {
  .code;
}

pre {
  .code;
  padding: @std-padding;
  border-radius: 3px;
  display: block;
}

.ButtonBar {
  .FlexContainerHorizontal;
  .SolidItem;
  button {
    .StretchedItem;
  }
}

nav {
  .SolidItem;
  background: @halftone;
  padding: @std-padding;
  .monospace;
  box-shadow: 0 1px 7px 0 rgba(0,0,0,0.2);
  z-index: 1;
}

.helvetica {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 110%
}

.Page {
  .StretchedItem;
  .FlexContainerHorizontal;
  main {
    .FlexContainer;
    flex: 5 0;
    -webkit-flex: 5 0;
  }
  aside {
    flex: 1 0;
    -webkit-flex: 1 0;
    .FlexContainer;
    background: @prime;
    color: @halftone;
    padding: @std-padding;
    .helvetica;
    ol {
      padding-left: 0;
      list-style-position: inside;
      li {
        padding-bottom: 1em;
      }
    }
    button {
      background: rgba(0,0,0,0);
      margin-bottom: 1em;
      border: 1px solid white;
    }
    button.prime {
      border: none;
      color: @prime;
      font-weight: 300;
      background: @halftone;
    }
    a, a:visited {
      color: @link-on-prime;
    }
  }
}

article {
  font-family: 'PT Serif', Georgia, serif;
  font-size: 1.2em;
  padding: @std-padding;
}

input, textarea, button {
  outline: none;
  padding: @std-padding;
}

input.TitleInput {
  .helvetica;
}

.BodyInput {
  .monospace;
  flex: 3 0;
  -webkit-flex: 3 0;
  font-size: 1em;
}

.Scrollable {
  overflow: auto;
}

a {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: @link;
}

a:visited {
  color: darken(@link, 25%);
}

a:hover {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Noticia Text', 'PT Serif', Georgia, serif;
  font-weight: bold;
  color: @prime;
}

h1 {
  font-size: 1.8em;
  border-bottom: 1px solid lighten(@prime, 50%);
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 0.9em;
}

button {
  .helvetica;
  color: @halftone;
  font-size: 100%;
  background: @prime;
}