@padding: 1em;
@prime: #445566;
@link: lighten(@prime, 10%);
@link-on-prime: lighten(@prime, 35%);
@halftone: lighten(@prime, 60%);
@article-font-size: 1.1em;
@view-font-color: black;
@view-background: white;
@code-font-size: 87%;
@breadcrumb-font-size: 80%;
@helvetica-font-size: 100%;
@article-font: 'PT Serif', Georgia, serif;
@header-font: 'Noticia Text', 'PT Serif', Georgia, serif;

body, html {
  background: @prime;
  color: @halftone;
  height: 100%;
  padding: 0;
  margin: 0;
}

.FlexContainer {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

.FlexContainerReverse {
  display: flex;
  display: -webkit-flex;
  flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
}

.FlexContainerHorizontal {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}

.StretchedItem {
  flex-grow: 1;
  -webkit-flex-grow: 1;
}

.SolidItem {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}

.FirstLevelContainer {
  box-sizing: border-box;
  min-height: 100%;
}

.EditingForm {
  .FirstLevelContainer;
  height: 100% !important;
  .FlexContainer;
}

.monospace {
  font-family: Menlo, Courier, monospace;
}

.code {
  background: @halftone;
  font-size: @code-font-size;
  .monospace;
}

code {
  .code;
}

pre {
  .code;
  padding: @padding;
  border-radius: 3px;
  display: block;
}

.FlippingFlexBox {
  @media (max-width: 799px) {
    .FlexContainerReverse;
  }
  @media (min-width: 800px) {
    .FlexContainerHorizontal;
  }
}

.ButtonBar {
  .FlippingFlexBox;
  .SolidItem;
  button {
    .StretchedItem;
  }
}

main {
  background: @view-background;
  color: @view-font-color;
  @media (max-width: 799px) {
    padding: @padding;
  }
  @media (min-width: 800px) {
    padding: @padding * 3;
  }
  padding-top: 0 !important;
}

nav {
  .SolidItem;
  .monospace;
  font-size: @breadcrumb-font-size;
  padding: @padding * 2;
  padding-left: 0;
}

.helvetica {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: @helvetica-font-size;
}

.Page {
  .FirstLevelContainer;
  .FlippingFlexBox;
  main {
    .FlexContainer;
    flex: 4 0;
    -webkit-flex: 4 0;
  }
  aside {
    flex: 1 0;
    -webkit-flex: 1 0;
    .FlexContainer;
    padding: @padding;
    .helvetica;
    font-size: 90%;
    .Menu {
      margin-top: 0;
      padding-top: @padding / 2;
    }
    ol {
      padding-left: 0;
      list-style-position: inside;
    }
    li {
      padding-bottom: @padding;
    }
    button {
      opacity: 0.9;
      margin-top: @padding;
      border: 1px solid @halftone;
      padding: @padding / 2.5;
    }
    button:first-child {
      margin: 0;
    }
    button.prime {
      border: none;
      color: @prime;
      background: @halftone;
    }

    button.prime:hover {
      background: lighten(@halftone, 7%);
    }

    button.prime:active {
      background: darken(@halftone, 20%);
    }

    button.BackButton {
      border: 1px dotted @halftone;
      border-radius: 2px;
    }

    .separator {
      height: @padding * 1.25;
    }

    .filler {
      .StretchedItem;
    }

    a, a:visited {
      color: @link-on-prime;
    }
  }
}

article {
  font-family: @article-font;
  font-size: @article-font-size;
}

input, textarea, button {
  outline: none;
  padding: @padding;
}

input.TitleInput {
  .helvetica;
  padding-top: @padding / 2;
  padding-bottom: @padding / 2;
}

.BodyInput {
  .monospace;
  flex: 3 0;
  -webkit-flex: 3 0;
  font-size: 1em;
}

.Scrollable {
  @media (max-width: 799px) {
    display: none;
  }
  margin-top: @padding / 3;
  overflow: auto;
  flex: 5 0;
  -webkit-flex: 5 0;
}

a, a:visited {
  text-decoration: none;
  border-bottom: 1px dotted;
  color: @link;
}

a:hover {
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: @header-font;
  font-weight: bold;
  color: @prime;
}

h1 {
  font-size: 1.8em;
  border-bottom: 1px solid @halftone;
  border-top: 1px solid @halftone;
  padding-top: @padding / 2;
  padding-bottom: @padding / 2;
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.1em;
}

h5 {
  font-size: 1.0em;
}

h6 {
  font-size: 0.9em;
}

button {
  .helvetica;
  border: none;
  color: @halftone;
  font-size: 100%;
  background: @prime;
}

button:disabled {
  opacity: 0.4 !important;
}

button:disabled:hover {
  background: @prime;
}

button:hover {
  background: darken(@prime, 3%);
}

button:active {
  background: darken(@prime, 20%);
}

ul {
  list-style-type: square;
}

hr {
  height: 1px;
  border: none;
  background: @halftone;
}

.Export {
  .FirstLevelContainer;
  width: 100%;
  .monospace;
}

.CenteredFlexBox {
  align-items: center;
  -webkit-align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
}

.CenteredBox {
  .FlexContainer;
  .FirstLevelContainer;
  .monospace;
  .CenteredFlexBox
}

table {
  width: 100%;
  .helvetica;
  th {
    text-align: left;
    border-bottom: 1px solid @halftone;
  }
}


#LandingPage {
  color: white;
  .Logo {
    font-family: @header-font;
    img {
      width: 1em;
      padding-right: 0.3em;
    }
    @media (max-width: 799px) {
      font-size: 3em;
      text-align: center;
      .FlexContainer;
      .CenteredFlexBox;
    }
    @media (min-width: 800px) {
      font-size: 4em;
    }
  }
  .Lead {
    padding: 1em;
    padding-bottom: 2em;
    font-family: "Helvetica Neue", serif;
    font-weight: 100;
    @media (max-width: 799px) {
      font-size: 1.5em;
      text-align: center;
    }
    @media (min-width: 800px) {
      font-size: 2em;
    }
  }
  button {
    border: 2px solid @halftone;
    width: 15em;
  }
  button.prime {
    background: #219161;
    color: @halftone;
  }
}
